APP_NAME=scoring-service
APP_VERSION=0.1.0
ENV=dev
LOG_LEVEL=INFO
REDIS_URL=redis://redis:6379/0
POSTGRES_URL=postgresql+psycopg2://glohib:changeme@postgres:5432/glohib_db
MODEL_REGISTRY_PATH=./model-store
DEFAULT_MODEL_VERSION=v1
METRICS_PORT=8001
